{% extends 'base.html' %}

{% load django_bootstrap5 %}

{% block content %}

  <table class="table">
    <thead>
      <tr>
        <th scope="col">순번</th>
        <th scope="col">제목</th>
        <th scope="col">영화</th>
        <th scope="col">평점</th>
      </tr>
    </thead>
    <tbody>
      {% for review in posts %}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td>
            <a href="{% url 'reviews:detail' review.id %}">{{ review.title }}</a>
          </td>
          <td>{{ review.movie_name }}</td>
          <td>{{ review.grade }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <nav class="mt-5 d-flex justify-content-center" aria-label="pagination">
    <ul class="pagination">
      {% if posts.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ posts.previous_page_number }}">이전으로</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <a class="page-link">이전으로</a>
        </li>
      {% endif %}

      {% for i in posts.paginator.page_range %}
        {% if i == posts.number %}
          <li class="page-item active" aria-current="page">
            <a class="page-link" href="#">{{ i }}</a>
          </li>
        {% else %}
          <li class="page-item">
            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
          </li>
        {% endif %}
      {% endfor %}

      {% if posts.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ posts.next_page_number }}">다음으로</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <a class="page-link">다음으로</a>
        </li>
      {% endif %}
    </ul>
  </nav>

{% endblock %}