{% extends 'base.html' %}

{% load django_bootstrap5 %}

{% block content %}

  <h1>{{ user.username }}의 프로필</h1>
  <p>팔로우 :
    {{ user.followings.count }}
    | 팔로워 :
    {{ user.followers.count }}</p>

  {% if request.user.is_authenticated %}
    {% if request.user != user %}
      <a href="{% url 'accounts:follow' user.pk %}">
        {% if request.user in user.followers.all %}
          <p class="btn btn-outline-danger">팔로우 취소</p>
        {% else %}
          <p class="btn btn-outline-success">팔로우</p>
        {% endif %}
      </a>
    {% endif %}
  {% else %}
    <a class="my-3 btn btn-outline-secondary" href="{% url 'accounts:login' %}">로그인이 필요합니다</a>
  {% endif %}
  <p>성 :
    {{ user.last_name }}</p>
  <p>이름 :
    {{ user.first_name }}</p>
  <p>이메일 :
    {{ user.email }}</p>

  <a class="btn btn-primary" href="{% url 'accounts:update' %}">수정</a>

{% endblock %}
